<html>
<head>
    <title>View Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>


<body>
<nav class="navbar navbar-default">
    <span class="username">Admin</span>
    <button type="logout" name="logout"  class="btn"><a href="/logout">Logout</a></button>
</nav>
<a href="/taskadd"><button class="btn btn-default" >Add Task</button></a>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">

    <thead>
    <tr>
        <th style="display: none"></th>
        <th>Work</th>
        <th>Start-date </th>
        <th>End-Date</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>

    <% try { if(data.length){

    for(var i = 0;i < data.length;i++) { %>
    <tr >
        <td style="display: none"></td>
        <td ><%=data[i].work%></td>
        <td><%=data[i].start_date%></td>
        <td ><%=data[i].end_date%></td>

        <td><button><a data-toggle="modal" data-target="#operation<%=data[i].id%>"><i class='glyphicon glyphicon-adjust' style='color:black'></i></a></button></td>
    </tr>

    <div class="modal fade" id="operation<%=data[i].id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog1">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-danger" style="backgtround-color:red">
                        <strong>Choose operation</strong>
                    </div>
                    <center>
                        <button class="modal-button"><a href='/taskedit/<%=data[i].id%>'><span class='glyphicon glyphicon-edit' style='color:darkred'></span>&nbsp;Edit</a></button>
                        <br><br>
                        <button class="modal-button"><a data-toggle="modal" data-target="#myModal1<%=data[i].id%>"><i class='fa fa-trash-o' style='color:blueviolet'></i>&nbsp;Delete</a></button>
                        <br><br>

                    </center>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="background-color: red">X</button>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myModal1<%=data[i].id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-danger" style="backgtround-color:red">
                        <strong>Do you want to delete?</strong>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <a href="/taskdelete/<%=data[i].id%>" class="btn btn-primary">Ok</a>
                </div>
            </div>
        </div>
    </div>

    <%  }}else{ %>
        <tr>
            <td colspan="15">No Data found
            </td>
        </tr>
    <% } }catch (ex){}%>

    </tbody>
</table>
    </div>
</div>
</body>
</html>